html {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
th {
  border: 1px solid black;
  width: 100px;
}
@media screen and (max-width: 1000px) {
  th {
    width: 50px;
    font-size: 10px;
  }
}
